<div class="navbar">
  <img class="logoImage"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/RHB_Logo.svg/1200px-RHB_Logo.svg.png"
    routerLink="/homepage" routerLinkActive="active">
  <p class="section" routerLink="/homepage" routerLinkActive="active">Asset Management</p>
  <a href="#funds" routerLink="/homepage" routerLinkActive="active">Funds</a>
  <a href="#tools">Tools</a>
  <a href="#aboutus">About Us</a>
  <a href="#search" style="font-weight:400;color:rgb(46, 118, 185);position:absolute;right:16em;top:-0.7em;"><i
      class="fa fa-search fa-lg"
      style="color:rgb(46, 118, 185);margin-right:5px;position:relative;top:0em"></i>Search</a>
  <button routerLink="/login" routerLinkActive="active"><i class="fa fa-user-circle fa-lg"></i>Login</button>
</div>