.outer{
    background-color: white;
    width: 19.1em;
    height: 11.5em;
    border-radius: 5px;
    top: 11.5em;
    left: 6.25em;
    position: relative;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    margin: 0.7em;
    cursor: pointer;
}

.inner{
    width: 12.54em;
    height: 8.06em;
    background-color: transparent;
    position: relative;
    margin: auto;
    left: -0.47em;
    top: 0;
}

h3{
    position: relative;
    top: -1em;
    font-size: 20px;
}

a{
    position: absolute;
    top: 2.8em;
    font-family: "adobe-clean";
    font-size: 20px;
}

.percentage {
    height: 2.52em;
    width: 7em;
    background-color: #5CD27C;
    top: 6.1em;
    left: 3.6em;
    border-radius: 2px;
    position: absolute;
    margin:auto;
    color: white;
    text-align: center;
}

.percentage a{
    font-family: "adobe-clean";
    position: relative;
    top: 0.24em;
    margin:auto;
    color: white;
    font-size: 28px;
}