<div class="container">

    <div class="top">
        <img class="logoImage"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/RHB_Logo.svg/1200px-RHB_Logo.svg.png"
            routerLink="/homepage" routerLinkActive="active">
        <p class="section" routerLink="/homepage" routerLinkActive="active">Asset Management</p>
    </div>

    <div class="inner">
        <p class="content">User Login</p>
        <input type="text" placeholder="wernsheng" name="login_uname" required>
        <i class="far fa-user"></i>
        <input type="password" value="ifast!12345" name="login_psw">
        <i class="material-icons-outlined" style="top:5.6em;font-size:20px;left:0.85em;">lock</i>
        <i class="far fa-eye-slash"
            style="cursor:pointer;top: 7.3em;left:20em;transform: scaleX(-1);font-size:16px"></i>
        <a href="#forgotpassword">FORGOT PASSWORD?</a>
        <p class="describ">By logging in, I agree to the <a href="#tnc" style="top:0em;">TERMS & CONDITIONS</a>.</p>
        <button class="register" routerLink="/acc-creation" routerLinkActive="active">Register</button>
        <button class="login">Login</button>
    </div>
</div>