<app-topbanner></app-topbanner>
<app-toptitle></app-toptitle>
<app-background></app-background>
<app-fundname></app-fundname>
<app-information [sections]="sections" [datas]="datas"></app-information>
<app-documents [documents]="documents"></app-documents>
<app-objective [objective]="objective"></app-objective>
<app-performance [description]="description" [analysis]="analysis" [annuals]="annuals" [cumulatives]="cumulatives"
    [calenders]="calenders" [historicals]="historicals"></app-performance>
<app-transaction [transactions]="transactions" [policy]="policy"></app-transaction>
<app-charges [charges]="charges"></app-charges>
<app-announcement [announcements]="announcements" [notices]="notices"></app-announcement>
<app-returns [returns]="returns" [dates]="dates"></app-returns>
<app-topfund [funds]="funds" [update]="update"></app-topfund>
<app-risk [risks]="risks" [update2]="update2"></app-risk>
<app-disclaimer [disclaimers]="disclaimers"></app-disclaimer>
<app-bottom style="position: relative;top:77.2em;"></app-bottom>