<div class="container">
    <i class="fa fa-circle fa-xs" style="font-size: 11px;position: absolute;left:2em;top:3.3em;color:#E16100"></i>
    <h1>RHB China-India Dynamic Growth Fund</h1>
    <i class="fa fa-star" style="color:#2A8AC1;position:absolute;left:22.5em;top:1.1em;font-size: 26px;"></i>
    <p class="desc">RHB Asset Management Sdn Bhd</p>
    <p class="text">MYR 0.9855</p>
    <p class="stext">Latest NAV Price: 31 Jan 2020</p>
    <p class="mtext">Price History</p>
    <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Buy</button>
</div>